<% layout("layouts/boilerplate.ejs") %>

<body>
    <br>
    <h3>Edit your Listing</h3>
    <form action="/listings/<%=list._id%>?_method=put" 
        method="post" 
        novalidate 
        class="needs-validation"
        enctype="multipart/form-data"
        >
        <br>
        <div class="row">
            <div class="col-8 offset-2">
        <div class="md-3">
            <label for="title" class="form-lable">Title</label>
            <input name="listing[title]" value="<%=list.title%>" class="form-control" required/>
            
        </div>
        <br><br>


        <div class="md-3">          
              <label for="title" class="form-lable">Description</label>
              <textarea name="listing[description]" class="form-control" required>
                <%=list.description%>
            </textarea>
           
            
        </div>
        <br>
        <div class="md-3">
            <label for="location" class="form-lable">Location</label>
            <input name="listing[location]" class="form-control" value="<%=list.location%>" required />
            
        </div>
        <br>
         <div>      
            <label for="speciality" class="form-lable">Speciality</label>
            <select class="form-control" name="listing[speciality]" placeholder="enter speciality">
                <option>Rooms</option>
                <option>Swimming Pool</option>
                <option>Beach</option>
                <option>Mountain</option>
                <option>Tea & Breakfast</option>
                <option>Artic</option>
                <option>Trending</option>
                <option>Forest</option>
                <option>Boats</option>
                <option>Temple</option>
      </select>
            <!-- <input name="listing[location]" placeholder="enter location" class="form-control" required/> -->
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <br>
        <div class="mb-3">
            <label for="location" class="form-lable">Original Image</label>

            <img src="<%=orig%>" alt="none">
        </div>
        <div class="md-3">
            <label for="location" class="form-lable">Image</label>
            <input name="listing[image]" class="form-control" value="<%=list.image.url%>" type="file" />
            
        </div>
        <br>
        <div class="row">
            <div class="md-3 col-md-4">
                <label for="price" class="form-lable">Price</label>
                <input name="listing[price]" class="form-control" value="<%=list.price%>"type="number" required/>
                
            </div>
            
            <div class="md-3 col-md-8">
                <label for="country" class="form-lable">Country</label>
                <input name="listing[country]"class="form-control" value="<%=list.country%>" required />
                
            </div>
        </div>
        <br><br>
        <button class="btn btn-dark add-btn" >Edit</button>
        </div>
 
 </div>       
        <br>
        <br>
    </form>
</body>